*.pyc
__pycache__/
*.egg-info/
dist/
build/

.eggs/

.env
.venv

.vscode/
.idea/
tmp_cgcov_cogs/
.DS_Store

tmp_gcov_cogs_stac/
tmp_gcov_cogs/
Notebooks/output/

scratch

*.h5
*.ini
*.hdf5
*.tif
*.tiff
*.nc
*.zarr
logs/
coverage/

NISAR_*
